<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Armoury</h1>
            <h3 class="text-korinna">IQ/A (Default: IQ-5)</h3>
            <p>
                This is the ability to build, modify, and
                repair a specific class of weapons or armor.
                A successful roll lets you find a problem, if
                it isn’t obvious; a second roll lets you repair
                it. Time required is up to the GM.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

