<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Camouflage</h1>
            <h3 class="text-korinna">IQ/E (Default: IQ-4)</h3>
            <p>
                This is the ability to use natural materials,
                special fabrics and paints, etc. to hide
                yourself, your position, or your equipment.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

