<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Criminology</h1>
            <h3 class="text-korinna">IQ/H (Default: IQ-6)</h3>
            <p>
                This is the ability to tell what is wrong
                with a sick or injured person, or what killed
                a dead person. It might not determine the
                exact problem, but it always gives hints,
                rule out impossibilities, etc.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

