<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Escape</h1>
            <h3 class="text-korinna">DX/H (Default: DX-6)</h3>
            <p>
                This is the ability to slip out of ropes,
                handcuffs, and similar restraints. The first
                attempt to escape takes one minute; each
                subsequent attempt takes 10 minutes.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

