<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Forgery</h1>
            <h3 class="text-korinna">IQ/H (Default: IQ-6)</h3>
            <p>
                This is the ability to create falsified documents
                (identity cards, passports, etc.).
                When you use a forged document, make
                your Forgery roll each time it is inspected –
                unless you roll a critical success on your
                first attempt. Failure means someone spots
                the forgery
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

