<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Karate</h1>
            <h3 class="text-korinna">DX/H (Default: None)</h3>
            <p>
                This skill represents any advanced training
                at unarmed striking, not just the
                Okinawan martial art of karate. Roll against
                Karate to hit with a punch (at no -4 for the
                “off” hand), or Karate-2 to hit with a kick.
                Karate improves damage: if you know
                Karate at DX level, add +1 per die to basic
                thrust damage when you calculate damage
                with Karate attacks: punches, kicks, elbow
                strikes, etc. Add +2 per die if you know
                Karate at DX+1 or better!
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

