<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Leadership</h1>
            <h3 class="text-korinna">IQ/A (Default: IQ-5)</h3>
            <p>
                This is the ability to coordinate a group.
                Make a Leadership roll to lead NPCs into a
                dangerous or stressful situation. (PCs can
                decide for themselves if they want to follow
                you!)
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

