<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Melee Weapons</h1>
            <h3 class="text-korinna">DX/Varies (Default: Special.)</h3>
            <p>
                This is not one skill, but an entire collection
                of skills – one per class of closely related
                melee weapons. Melee Weapon skills are
                based on DX, and default to DX-4 if Easy,
                DX-5 if Average, or DX-6 if Hard.
            </p>
            <p>
                <h2>Fencing Weapons</h2>
                Fencing weapons are light, one-handed
                weapons, usually hilted blades, optimized
                for parrying. Skills: Rapier (A) and
                Smallsword (A).
            </p>
            <p>
                <h2>Flails</h2>
                A flail is any flexible, unbalanced
                weapon with its mass concentrated in the
                head. Because flails tend to wrap around
                the target’s shield or weapon, attempts to
                block them are at -2 and attempts to parry
                them are at -4. Skills: Flail (H; includes
                morningstars and nunchaku).
            </p>
            <p>
                <h2>Impact Weapons</h2>
                An impact weapon is any rigid, unbalanced
                weapon with most of its mass concentrated
                in the head, such as axes and
                maces. Such a weapon cannot parry if you
                have already attacked with it on your turn.
                Skills: Axe/Mace (A).
            </p>
            <p>
                <h2>Pole Weapons</h2>
                Pole weapons are long (usually wooden)
                shafts, often adorned with striking heads.
                All require two hands. Skills: Polearm (A),
                Spear (A), Staff (A; also gives +2 to Parry).
            </p>
            <p>
                <h2>Swords</h2>
                A sword is a rigid, hilted blade with a
                thrusting point, cutting edge, or both. All
                swords are balanced, and can attack and
                parry without becoming unready. Skills:
                Broadsword (A), Knife (E; also gives -1 to
                Parry), Shortsword (A), and Two-Handed
                Sword (A)
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

