<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Missile Weapons</h1>
            <h3 class="text-korinna">DX/Varies (Default: Special)</h3>
            <p>
                This is not one skill, but an entire collection
                of skills – one per class of closely related
                missile weapons. Missile Weapon skills
                are based on DX, and default to DX-4 if
                Easy, DX-5 if Average, or DX-6 if Hard.
            </p>
            <p>
                <h2>Gunner</h2>
                This is the ability to use a heavy weapon,
                usually one mounted on a tripod or a vehicle,
                to make a direct-fire attack – that is, to
                GURPS LITE 15
                aim and fire at a target to which you have a
                line of sight. All Gunner skills are DX/Easy.
            </p>
            <p>
                <b>Beams:</b> Any kind of heavy directed-energy
                weapon: laser, particle beam, etc.
            </p>
            <p>
                <b>Cannon:</b> Any kind of heavy projectile
                weapon – e.g., the main gun of a tank or an
                ultra-tech railgun on a starship – that fires
                single shots.
            </p>
            <p>
                <b>Machine Gun:</b> Any kind of heavy
                projectile weapon capable of firing bursts.
            </p>
            <p>
                <h2>Guns</h2>
                This is the ability to use a hand-held
                chemical-propellant or mass-driver projectile
                weapon. All Guns skills are DX/Easy.
                Light Anti-Armor Weapon (LAW): All
                forms of rocket launchers and recoilless
                rifles.
            </p>
            <p>
                <b>Pistol:</b> All kinds of handguns, including
                derringers, pepperboxes, revolvers, and
                automatics, but not machine pistols.
            </p>
            <p>
                <b>Rifle:</b> Any kind of rifled long arm –
                assault rifle, hunting rifle, sniper rifle, etc. –
                that fires a solid projectile.
            </p>
            <p>
                <b>Shotgun:</b> Any kind of smoothbore long
                arm that fires multiple projectiles
                (flechettes, shot, etc.).
            </p>
            <p>
                <b>Submachine Gun (SMG):</b> All short, fully
                automatic weapons that fire pistol-caliber
                ammunition, including machine pistols.
            </p>
            <p>
                <h2>Flamethrower</h2>
                This is the ability to use a weapon that
                projects a stream of liquid or gas.
                Flamethrower is DX/Easy.
            </p>
            <p>
                <h2>Other Missile Weapons</h2>
            </p>
            <p>
                <b>Blowpipe (DX/Hard):</b> You can use this
                weapon to shoot small, usually poisoned,
                darts. You can also use it to blow powders
                at targets within one yard.
            </p>
            <p>
                <b>Bow (DX/Average):</b> This is the ability to
                use all bows except crossbows.
            </p>
            <p>
                <b>Crossbow (DX/Easy):</b> This is the ability
                to use all types of crossbows.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

