<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Research</h1>
            <h3 class="text-korinna">IQ/A (Default: IQ-5)</h3>
            <p>
                This is the ability to do library and file
                research. Roll against skill to find a useful
                piece of data in an appropriate place of
                research... if the information is there to be
                found.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

