<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Scrounging</h1>
            <h3 class="text-korinna">IQ/E (Default: IQ-4)</h3>
            <p>
                This is the ability to find, salvage, or
                improvise useful items that others can’t
                locate. Each attempt takes an hour. You do
                not necessarily steal your booty; you just
                locate it – somehow – and then acquire it by
                any means necessary
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

