<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Smuggling</h1>
            <h3 class="text-korinna">IQ/A (Default: IQ-5)</h3>
            <p>
                This is the ability to conceal items in baggage
                and vehicles. You can also use it to hide
                an object in a room or a building. Roll
                against skill to hide an item from casual
                inspection. In an active search, the searchers
                must win a Quick Contest of Search vs. your
                Smuggling skill to find the item.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

