<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Environment Suit</h1>
            <h3 class="text-korinna">DX/A (Default: IQ-5)</h3>
            <p>
                This is training in the use of a specific
                class of protective suit. Suits designed
                against environmental or battlefield hazards
                are so complex that you do not merely
                wear such gear – you operate it.
            </p>
            <p>
                <b>Battlesuit/TL:</b> All kinds of powered battle
                armor and exoskeletons.
            </p>
            <p>
                <b>Diving Suit/TL:</b> All types of hard diving
                suits.
            </p>
            <p>
                <b>NBC Suit/TL:</b> All forms of hazardous
                materials (“HazMat”) gear.
            </p>
            <p>
                <b>Vacc Suit/TL:</b> Any kind of spacesuit.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

