<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Vehicles Skills</h1>
            <h3 class="text-korinna">DX/Varies (Default: Varies)</h3>
            <p>
                Each class of vehicle requires a different
                skill to operate it. Roll once to get under way
                and again each time a hazard is encountered;
                failure indicates lost time or even an accident.
                Vehicle skills default to DX at -4 (easy),
                -5 (average), or -6 (hard); motor vehicles also
                default to IQ, at similar penalties. Available
                types include Bicycling (DX/E), Boating
                (DX/A) for small boats, Driving (DX/A) for
                cars and motorbikes, Piloting (DX/A) for aircraft,
                and Submarine (DX/A) for subs.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

