<div layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools text-korinna">
                <a ng-click="vm.goHome()">
                    <img src="assets/gurps-logo.svg" style="height: auto; width: 50%; color: white">
                    ONLINE
                </a>
            </div>
        </md-toolbar>
        <md-content role="navigation">
            <ul class="side-menu">
                <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                    ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <h2 class="menu-heading" ng-if="section.type === 'heading'"
                        id="heading_{{ section.name | nospace }}">
                        {{section}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
            </ul>

        </md-content>
    </md-sidenav>
    <md-content flex>
        <md-toolbar md-scroll-shrink=""  layout="row" layout-align="center center">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button md-primary" aria-label="Settings"
                           ng-click="vm.toggleNav()" ng-if="!vm.isNavOpen()">
                    <md-icon md-font-icon="fa-bars" class="fa fa-2x" style="color: white;"></md-icon>
                </md-button>
                <h2 class="text-korinna">
                    {{vm.menu.currentTitle}}
                </h2>
                <span flex> </span>
                <md-button class="md-icon-button md-primary" aria-label="Logout"
                           ng-click="vm.logout()">
                    <md-icon md-svg-src="assets/exit.svg" style="color: white; height: auto;"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <ui-view name="content"></ui-view>
    </md-content>
</div>
