<md-dialog aria-label="Info" style="width: 25%; height: auto" class="md-padding">
    <div layout="column">
        <h1 class="text-korinna">{{placeholder}}</h1>
        <div layout="row">
            <h2 class="text-korinna" style="margin-top: 25px; padding-right: 20px">{{variable}} (+/-)</h2>
            <md-input-container class="md-icon-float md-icon-right md-block" style="margin-top: 25px" flex>
                <label>Modifier</label>
                <input ng-model="modifier" type="number">
            </md-input-container>
            <h2 class="text-korinna" style="margin-top: 25px; padding-right: 20px">=</h2>
            <md-input-container class="md-icon-float md-icon-right md-block" style="margin-top: 25px" flex>
                <input ng-model="score" type="number" ng-disabled="true" style="color: black">
            </md-input-container>
        </div>
        <div layout="row" ng-if="result !== undefined" style="margin-top: -20px">
            <h3 ng-if="result.value == 0 || result.value == 1" style="color: #2E7D32" class="text-korinna">{{result.text}}</h3>
            <h3 ng-if="result.value == 2" style="color: #FF5722" class="text-korinna">{{result.text}}</h3>
            <h3 ng-if="result.value == 3" style="color: #F44336" class="text-korinna">{{result.text}}</h3>
        </div>
        <div layout="row" ng-if="duration !== undefined" style="margin-top: -20px">
            <h3 ng-if="duration !== undefined">{{duration}}</h3>
        </div>
        <div layout="row">
            <md-button ng-if="duration === undefined" class="md-primary" ng-click="roll()" style="background-color: #1565C0; color: white" flex>Roll</md-button>
            <md-button class="md-primary" ng-click="hide()" flex>Close</md-button>
        </div>
    </div>
</md-dialog>