<md-dialog aria-label="Info" style="width: 25%; height: auto" class="md-padding">
    <div layout="column">
        <h1 class="text-korinna">{{placeholder}}</h1>
        <div layout="row">
            <p><b>Selected:</b> <span class="radioValue">{{option.name}}</span> </p>
        </div>
        <div layout="row">
            <md-radio-group ng-model="option">
                <md-radio-button ng-repeat="item in postures"
                                 ng-value="item"
                                 ng-disabled="character.posture.name == 'Lying Down' && (item.name != 'Crawling' && item.name != 'Kneeling' && item.name != 'Sitting')">
                    {{item.name}}
                </md-radio-button>
            </md-radio-group>
        </div>
        <div layout="row">
            <md-button class="md-primary" ng-click="move()" style="background-color: #1565C0; color: white" flex>Change Posture</md-button>
            <md-button class="md-primary" ng-click="hide()" flex>Close</md-button>
        </div>
    </div>
</md-dialog>