<md-dialog aria-label="Info" style="width: 25%; height: auto" class="md-padding">
    <div layout="column">
        <h1 class="text-korinna">{{placeholder}}</h1>
        <collapse collapsible-title="Description">
            <div>
                Make a Vision roll whenever it is important that you see something.
                When you try to spot something that is deliberately hidden, the GM may treat this
                roll as a Quick Contest against a concealment
                skill (Camouflage, Holdout, etc.), and may allow – or require – a skill such as
                Observation or Search to replace Perception for the roll.
            </div>
        </collapse>
        <div layout="row">
            <h2 class="text-korinna" style="margin-top: 25px; padding-right: 20px">{{skill}} (+/-)</h2>
            <md-input-container class="md-icon-float md-icon-right md-block" style="margin-top: 25px" flex>
                <label>Modifier</label>
                <input ng-model="modifier" type="number">
            </md-input-container>
            <h2 class="text-korinna" style="margin-top: 25px; padding-right: 20px">=</h2>
            <md-input-container class="md-icon-float md-icon-right md-block" style="margin-top: 25px" flex>
                <input ng-model="score" type="number" ng-disabled="true" style="color: black">
            </md-input-container>
        </div>
        <div layout="row" ng-if="night != undefined">
            <md-checkbox ng-model="night.activated" aria-label="night">
                Night Vision
            </md-checkbox>
        </div>
        <div layout="row" ng-if="result !== undefined" style="margin-top: -20px">
            <h3 ng-if="result.value == 0" style="color: #2E7D32" class="text-korinna">{{result.text}}</h3>
            <h3 ng-if="result.value == 1" class="text-korinna">{{result.text}}</h3>
            <h3 ng-if="result.value == 2" style="color: #FF5722" class="text-korinna">{{result.text}}</h3>
            <h3 ng-if="result.value == 3" style="color: #F44336" class="text-korinna">{{result.text}}</h3>
        </div>
        <div layout="row">
            <md-button class="md-primary" ng-click="roll()" style="background-color: #1565C0; color: white" flex>Roll</md-button>
            <md-button class="md-primary" ng-click="hide()" flex>Close</md-button>
        </div>
    </div>
</md-dialog>