<md-content class="md-padding characterActions"  layout-xs="row" layout="column" ng-cloak>
    <h1 class="text-korinna">Characteristics</h1>
    <div layout="row">
        <characteristic-roll shortname="ST" longname="Strength (3D6)" variable="character.strength"></characteristic-roll>
        <characteristic-roll shortname="DX" longname="Dexterity (3D6)" variable="character.dexterity"></characteristic-roll>
        <characteristic-roll shortname="IQ" longname="Intelligence (3D6)" variable="character.intelligence"></characteristic-roll>
        <characteristic-roll shortname="HT" longname="Health (3D6)" variable="character.health"></characteristic-roll>
    </div>
    <h2 class="text-korinna">Sense Rolls</h2>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="vis"
                   ng-click="action('views/characters/actions/vision.html', $event, 'vision')">
            VISION
        </md-button>
        <md-button class="md-raised md-primary" aria-label="hea"
                   ng-click="action('views/characters/actions/hearing.html', $event, 'hearing')">
            HEARING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="ta"
                   ng-click="action('views/characters/actions/taste.html', $event, 'taste')">
            TASTE/SMELL
        </md-button>
        <md-button class="md-raised md-primary" aria-label="da"
                   ng-if="character.hasAdvantage('Danger Sense')"
                   ng-click="action('views/characters/actions/danger.html', $event, 'danger')">
            Danger Sense
        </md-button>
           <md-button class="md-raised md-primary" aria-label="fri"
                   ng-click="action('views/characters/actions/fright.html', $event, 'fright')">
            FRIGHT
        </md-button>
    </div>
    <h2 class="text-korinna">Influence Rolls</h2>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            REACTION
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/influence.html', $event, 'diplomacy')">
            DIPLOMACY
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/influence.html', $event, 'fasttalk')">
            FAST-TALK
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/influence.html', $event, 'intimidation')">
            INTIMIDATION
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/influence.html', $event, 'savoirfaire')">
            SAVOIR-FAIRE
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/sexappeal.html', $event, 'sexappeal')">
            SEX APPEAL
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/influence.html', $event, 'streetwise')">
            STREETWISE
        </md-button>
    </div>
    <h2 class="text-korinna">Phisical Feats</h2>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/climbing.html', $event, 'climbing')">
            CLIMBING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="hi"
                   ng-click="action('views/characters/actions/hiking.html', $event, 'hiking')">
            HIKING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="ju"
                   ng-click="action('views/characters/actions/jumping.html', $event, 'jumping')">
            JUMPING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="ju"
                   ng-click="action('views/characters/actions/lifting.html', $event, 'lifting')">
            LIFTING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="ju"
                   ng-click="action('views/characters/actions/running.html', $event, 'running')" ng-disabled="character.position.name == 'Standing'">
            RUNNING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="ju"
                   ng-click="action('views/characters/actions/swimming.html', $event, 'swimming')">
            SWIMMING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="ju"
                   ng-click="jumping('views/characters/actions/jumping.html', $event)">
            THROWING
        </md-button>
    </div>
    <h2 class="text-korinna">Maneuvers</h2>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            DO NOTHING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            MOVE
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="action('views/characters/actions/posture.html', $event, 'posture')">
            CHANGE POSTURE
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            AIM
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            READY
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            CONCENTRATE
        </md-button>
    </div>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            ATTACK
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            ALL-OUT ATTACK
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            MOVE AND ATTACK
        </md-button>
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="reaction('views/characters/actions/reaction.html', $event)">
            ALL-OUT DEFENSE
        </md-button>
    </div>

    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="da"
                   ng-if="character.hasAdvantage('Animal Empathy') || character.hasAdvantage('Empathy')"
                   ng-click="empathy('views/characters/actions/base.html', $event)">
            Empathy
        </md-button>
    </div>
    <h1 class="text-korinna">Known skills</h1>
    <div layout="row" style="margin-top: -30px">
        <md-list flex>
            <md-list-item ng-repeat="item in character.skills" layout="row" ng-if="!specialActions.includes(item.name)" style="max-height: 50px">
                <h3 style="font-size: 20px"><b>{{ item.name }}</b> <b>(<b ng-if="item.bonus > 0">+</b>{{item.bonus}})</b>
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/skills/' + item.info, $event)"></md-icon>
                    <skill-roll skill="item" character="character"></skill-roll>
                </h3>
            </md-list-item>
        </md-list>
    </div>
    <h1 class="text-korinna">Unknown skills</h1>
    <div layout="row" style="margin-top: -30px">
        <md-list flex>
            <md-list-item ng-repeat="item in unknownSkills" layout="row" ng-if="!specialActions.includes(item.name)" style="max-height: 50px">
                <h3 style="font-size: 20px"><b>{{ item.name }}</b> <b>(<b ng-if="item.bonus > 0">+</b>{{item.bonus}})</b>
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/skills/' + item.info, $event)"></md-icon>
                    <skill-roll skill="item" character="character"></skill-roll>
                </h3>
            </md-list-item>
        </md-list>
    </div>
</md-content>
