<md-content class="md-padding characterActions"  layout-xs="row" layout="column" ng-cloak>
    <h1 class="text-korinna">Characteristics</h1>
    <div layout="row">
        <characteristic-roll shortname="ST" longname="Strength (3D6)" variable="character.strength"></characteristic-roll>
        <characteristic-roll shortname="DX" longname="Dexterity (3D6)" variable="character.dexterity"></characteristic-roll>
        <characteristic-roll shortname="IQ" longname="Intelligence (3D6)" variable="character.intelligence"></characteristic-roll>
        <characteristic-roll shortname="HT" longname="Health (3D6)" variable="character.health"></characteristic-roll>
    </div>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="cl"
                   ng-click="climbing('views/characters/actions/climbing.html', $event)">
            CLIMBING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="hi"
                   ng-click="hiking('views/characters/actions/hiking.html', $event)">
            HIKING
        </md-button>
        <md-button class="md-raised md-primary" aria-label="ju"
                   ng-click="jumping('views/characters/actions/jumping.html', $event)">
            JUMPING
        </md-button>
    </div>
    <div layout="row">
        <md-button class="md-raised md-primary" aria-label="da"
                   ng-if="character.hasAdvantage('Danger Sense')"
                   ng-click="danger('views/characters/actions/danger.html', $event)">
            Danger Sense
        </md-button>
        <md-button class="md-raised md-primary" aria-label="da"
                   ng-if="character.hasAdvantage('Animal Empathy') || character.hasAdvantage('Empathy')"
                   ng-click="empathy('views/characters/actions/base.html', $event)">
            Empathy
        </md-button>
    </div>
</md-content>
