<div ng-controller="charactersMenuCtrl as vm" layout="column" ng-cloak="" class="charactersMenu">
    <md-content class="md-padding" layout="column">

        <!--<div layout="row" layout-align="end center">-->
        <md-fab-speed-dial md-direction="down" class="md-fling md-fab-top-right" ng-hide="vm.hidden" md-open="vm.isOpen"
                           ng-class="{ 'md-hover-full': vm.hover }"
                           ng-mouseenter="vm.isOpen=true" ng-mouseleave="vm.isOpen=false">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab" style="background-color: #2196F3">
                    <md-icon md-font-icon="fa-cog" class="fa fa-2x" style="color: white;"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="add" class="md-fab md-raised md-mini">
                    <md-icon md-font-icon="fa-plus" class="fa fa-2x" style="color: #81C784;"></md-icon>
                </md-button>
                <md-button aria-label="delete" class="md-fab md-raised md-mini">
                    <md-icon md-font-icon="fa-trash-o" class="fa fa-2x" style="color: #FF5722;"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <!--</div>-->
        <div layout="row" layout-align="center center">
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="item in characters" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.who }}</h3>
                        <h4>{{ item.what }}</h4>
                        <p>{{ item.notes }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>

    </md-content>
</div>