<md-content class="md-padding characterProfile"  layout-xs="row" layout="column" ng-cloak>
    <div layout layout-align="center center">
        <h4 flex> Campaign: {{character.campaign.name}} </h4>
        <md-button class="md-raised md-primary" aria-label="join"
                   ng-if="!character.campaign"
                   ng-click="showJoin()" flex="10">
            JOIN
        </md-button>
        <md-button class="md-raised" aria-label="leave" style="color: white; background-color: #F44336"
                   ng-if="character.campaign"
                   ng-click="leave()" flex="10">
            LEAVE
        </md-button>
        <md-button class="md-raised" aria-label="leave"
                   ng-click="edit = !edit" flex="10">
            EDIT
        </md-button>
    </div>
    <div layout layout-align="end end" ng-if="edit">
        <md-button class="md-raised" aria-label="leave"
                   ng-click="saveChange()" flex="10">
            Save
        </md-button>
    </div>
    <h1 class="text-korinna">Experience left: {{character.freexp}}</h1>
    <h1 class="text-korinna">Stats</h1>
    <div id="stats">
        <div layout="row">
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Strength (ST)
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/strength.html', $event)"></md-icon>
                </h3>
                <number-picker number="character.strength" edit="edit" sub="canEdit" min="1" cost="10" capital="character.freexp" flex>
                    <label class="text-korinna">±10 points/level</label>
                </number-picker>
            </div>
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Dexterity (DX)
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/dexterity.html', $event)"></md-icon>
                </h3>
                <number-picker number="character.dexterity" edit="edit" sub="canEdit" min="1" cost="20" capital="character.freexp" flex>
                    <label class="text-korinna">±20 points/level</label>
                </number-picker>
            </div>
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Intelligence (IQ)
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/intelligence.html', $event)"></md-icon>
                </h3>
                <number-picker number="character.intelligence" edit="edit" sub="canEdit" min="1" cost="20" capital="character.freexp" flex>
                    <label class="text-korinna">±20 points/level</label>
                </number-picker>
            </div>
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Health (HT)
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/health.html', $event)"></md-icon>
                </h3>
                <number-picker number="character.health" edit="edit" sub="canEdit" min="1" cost="20" capital="character.freexp" flex>
                    <label class="text-korinna">±10 points/level</label>
                </number-picker>
            </div>
        </div>
        <div ng-if="canEdit">
            <value-bar name="HP" info="views/characters/info/hitpoints.html" value="character.health" total="character.health"></value-bar>
            <value-bar name="Will" info="views/characters/info/will.html" value="character.intelligence" total="character.intelligence"></value-bar>
            <value-bar name="Stamina" info="views/characters/info/fatigue.html" value="character.health" total="character.health"></value-bar>
        </div>
        <div ng-if="!canEdit">
            <value-bar name="HP" info="views/characters/info/hitpoints.html" value="character.hp" total="character.health"></value-bar>
            <value-bar name="Will" info="views/characters/info/will.html" value="character.will" total="character.intelligence"></value-bar>
            <value-bar name="Stamina" info="views/characters/info/fatigue.html" value="character.fp" total="character.health"></value-bar>
        </div>

        <div layout="row">
            <div layout="row">
                <h3 class="text-korinna">
                    Perception (Per)
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/perception.html', $event)"></md-icon>
                    {{character.intelligence}}
                </h3>
            </div>
            <md-divider vertical></md-divider>
            <div layout="row">
                <h3 class="text-korinna">
                    Basic Speed
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/speed.html', $event)"></md-icon>
                    {{character.speed}}
                </h3>
            </div>
            <md-divider vertical></md-divider>
            <div layout="row">
                <h3 class="text-korinna">
                    Dodge
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/dodge.html', $event)"></md-icon>
                    {{character.dodge}}
                </h3>
            </div>
            <md-divider vertical></md-divider>
            <div layout="row">
                <h3 class="text-korinna">
                    Basic Move
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/move.html', $event)"></md-icon>
                    {{character.move}}
                </h3>
            </div>
        </div>
        <div layout="row">
            <h3 class="text-korinna">
                Damage
                <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                         ng-click="showInfo('views/characters/info/damage.html', $event)"></md-icon>
                Thrust: {{character.thrust}}
                Swing: {{character.swing}}
            </h3>
        </div>
    </div>
    <h1 class="text-korinna">Image and Looks</h1>
    <div id="looks">
        <div layout="row">
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Appearance
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/appearance.html', $event)"></md-icon>
                </h3>
                <div style="margin-top: -6px">
                    <md-select ng-init="oldValue=appearance" ng-click="oldValue=appearance" ng-disabled="!canEdit"
                               ng-change="appareanceChange(oldValue, appearance)" ng-model="appearance">
                        <md-option ng-repeat="state in appearances" ng-value="state" ng-selected="$index === appearanceIndex()"
                                   ng-if="character.freexp - state.cost >= 0" >
                            {{state.name}} ({{-state.cost}})
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Charisma
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/charisma.html', $event)"></md-icon>
                </h3>
                <number-picker number="character.charisma" edit="canEdit && creation" cost="5" capital="character.freexp" flex>
                    <label class="text-korinna">-5 points/level</label>
                </number-picker>
            </div>
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Voice
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/voice.html', $event)"></md-icon>
                </h3>
                <md-checkbox ng-model="character.voice" aria-label="voice"
                             ng-disabled="!canEdit" ng-change="voiceChange(character.voice)">
                </md-checkbox>
            </div>
        </div>
        <div layout="column" flex>
            <div layout="row">
                <h3 class="text-korinna">
                    Odious Personnal Habits
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/oph.html', $event)"></md-icon>
                </h3>
            </div>
            <div layout="row" ng-if="canEdit">
                <md-input-container style="padding-right: 10px" flex>
                    <label>Title</label>
                    <input ng-model="chipText" ng-disabled="!canEdit">
                </md-input-container>
                <md-select ng-model="chipType" placeholder="Type" class="md-no-underline" flex="20" ng-disabled="!canEdit">
                    <md-option ng-repeat="type in types" ng-value="type" ng-selected="$index === 0">{{type.title}} ({{-type.cost}})</md-option>
                </md-select>
                <md-button class="md-fab md-mini md-primary" aria-label="add" ng-click="addchips()" ng-disabled="!canEdit">
                    <md-icon md-font-icon="fa-plus" class="fa md-primary"></md-icon>
                </md-button>
            </div>
            <div layout="row">
                <md-chips ng-model="character.habits" readonly="false"
                          md-transform-chip="transformChip($chip)" md-on-remove="removeChips($chip)" flex>
                    <md-chip-template>
                        <span>
                          <strong>{{$chip.description}}</strong>
                          <em>({{$chip.type}})</em>
                        </span>
                    </md-chip-template>
                </md-chips>
            </div>
        </div>
    </div>
    <h1 class="text-korinna">Wealth and Influence</h1>
    <div id="wealth">
        <div layout="row" flex>
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Wealth
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/wealth.html', $event)"></md-icon>
                </h3>
                <div style="margin-top: -6px">
                    <md-select ng-model="wealth" ng-init="oldValue=wealth" ng-click="oldValue=wealth"
                               ng-disabled="!canEdit" ng-change="wealthChange(oldValue, wealth)">
                        <md-option ng-repeat="wealth in wealths" ng-value="wealth" ng-selected="$index === wealthIndex()"
                                   ng-if="character.freexp - wealth.cost >= 0">
                            {{wealth.name}} ($ x {{wealth.multiplicator}} / {{-wealth.cost}}pt)
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div layout="row" flex>
                <h3 class="text-korinna">
                    Status
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/status.html', $event)"></md-icon>
                </h3>
                <number-picker number="character.statusbonus" edit="canEdit" min="-2" max="8" cost="5" capital="character.freexp" flex>
                    <label class="text-korinna">-5 points/level</label>
                </number-picker>
            </div>
        </div>
        <div layout="column" flex>
            <div layout="row">
                <h3 class="text-korinna">
                    Reputation
                    <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                             ng-click="showInfo('views/characters/info/reputation.html', $event)"></md-icon>
                </h3>
            </div>
            <div layout="row" ng-if="canEdit">
                <md-input-container style="padding-right: 10px" flex="70">
                    <label>Title</label>
                    <input ng-model="repText">
                </md-input-container>
                <number-picker number="level" edit="canEdit" min="-4" max="4"flex>
                    <label class="text-korinna">-5 points/level</label>
                </number-picker>
                <md-button class="md-fab md-mini md-primary" aria-label="add" ng-click="addReputation()">
                    <md-icon md-font-icon="fa-plus" class="fa md-primary"></md-icon>
                </md-button>
            </div>
            <div layout="row">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="item in character.reputations"
                                  ng-click="null" layout="row">
                        <div class="md-list-item-text" layout="column">
                            <h3><b>Name:</b> {{ item.what }}</h3>
                            <h4><b>Bonus:</b> {{ item.bonus }}</h4>
                        </div>
                        <md-button class="md-icon-button md-fab md-mini" aria-label="delete" ng-if="canEdit"
                                   ng-click="deleteReputation(item, $index)" style="background-color: red;">
                            <md-icon md-font-icon="fa-minus" class="md-primary fa"></md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
    <h1 class="text-korinna">Advantages</h1>
    <div id="advantages">
        <div layout="row" flex>
            <md-autocomplete flex
                    ng-disabled="false"
                    md-selected-item="advgItem"
                    md-no-cache="true"
                    md-search-text="advgText"
                    md-selected-item-change="selectedAdvgChange(item)"
                    md-items="item in advantageSearch(advgText)"
                    md-item-text="item.name"
                    md-min-length="0"
                    bluring="exitAdvgInput()"
                    placeholder="Pick an advantage"
                    md-menu-class="autocomplete-custom-template">
                <md-item-template>
                  <span class="item-title">
                        <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                                 ng-click="showInfo('views/characters/advantage/' + item.info, $event)"></md-icon>
                      <span> <b> {{item.name}} </b></span>
                  </span>
                    <span class="item-metadata">
                    <span>
                      <strong>{{item.cost}}pt</strong><strong ng-if="item.haslevel">/level</strong>
                    </span>
                  </span>
                </md-item-template>
            </md-autocomplete>
            <number-picker number="advglevel" edit="canEdit" min="1" flex="10" class="big-number-wrapper" style="padding-left: 5px; margin-top: -15px;"></number-picker>
            <md-button class="md-fab md-mini md-primary" aria-label="add" ng-click="addAdvantage()" style="margin-top: 0;">
                <md-icon md-font-icon="fa-plus" class="fa md-primary"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row" flex>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in character.advg_pretty" layout="row">
                <div class="md-list-item-text" layout="column">
                    <h3><b>{{ item.name }}</b><b ng-if="item.haslevel">(lvl: {{item.level}})</b>
                        <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                                 ng-click="showInfo('views/characters/advantage/' + item.info, $event)"></md-icon>
                    </h3>
                    <p>{{item.desc}}</p>
                </div>
                <md-button class="md-icon-button md-fab md-mini" aria-label="delete" ng-if="canEdit"
                           ng-click="deleteAdvg(item, $index)" style="background-color: red; margin-top: 20px">
                    <md-icon md-font-icon="fa-minus" class="md-primary fa"></md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </div>
    <h1 class="text-korinna">Disadvantages</h1>
    <div id="disadvantages">
        <div layout="row" flex>
            <md-autocomplete flex
                             ng-disabled="false"
                             md-selected-item="disadvgItem"
                             md-no-cache="true"
                             md-search-text="disadvgText"
                             md-selected-item-change="selectedDisadvgChange(item)"
                             md-items="item in disadvantageSearch(disadvgText)"
                             md-item-text="item.name"
                             md-min-length="0"
                             bluring="exitDisadvgInput()"
                             placeholder="Pick a disavantage"
                             md-menu-class="autocomplete-custom-template">
                <md-item-template>
                  <span class="item-title">
                        <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                                 ng-click="showInfo('views/characters/disadvantage/' + item.info, $event)"></md-icon>
                      <span> <b> {{item.name}} </b></span>
                  </span>
                    <span class="item-metadata">
                    <span>
                      <strong>{{item.cost}}pt</strong><strong ng-if="item.haslevel">/level</strong>
                    </span>
                  </span>
                </md-item-template>
            </md-autocomplete>
            <md-button class="md-fab md-mini md-primary" aria-label="add" ng-click="addDisadvantage()" style="margin-top: 0;">
                <md-icon md-font-icon="fa-plus" class="fa md-primary"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row" flex>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in character.disadvg_pretty" layout="row">
                <div class="md-list-item-text" layout="column">
                    <h3><b>{{ item.name }}</b>
                        <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                                 ng-click="showInfo('views/characters/disadvantage/' + item.info, $event)"></md-icon>
                    </h3>
                    <p>{{item.desc}}</p>
                </div>
                <md-button class="md-icon-button md-fab md-mini" aria-label="delete" ng-if="canEdit"
                           ng-click="deleteDisadvg(item, $index)" style="background-color: red; margin-top: 20px">
                    <md-icon md-font-icon="fa-minus" class="md-primary fa"></md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </div>

</md-content>
