<h1 class="text-korinna">Image and Looks</h1>
<div id="looks">
    <div layout="row">
        <attributes-selector placeholder="Appearance" info="views/characters/info/appearance.html" states="appearances"
                             edit="canEdit" capital="character.freexp" change="appearanceChange" indexer="appearanceIndex" flex>
        </attributes-selector>
        <attributes placeholder="Charisma" info="views/characters/info/charisma.html" variable="character.charisma" cost="5" min="0" edit="canEdit" capital="character.freexp" flex></attributes>
        <attributes-checkbox placeholder="Voice" info="views/characters/info/voice.html" edit="canEdit" variable="character.voice" capital="character.freexp" cost="10" flex></attributes-checkbox>
    </div>
    <div layout="column" flex>
        <div layout="row">
            <h3 class="text-korinna">
                Odious Personnal Habits
                <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                         ng-click="showInfo('views/characters/info/oph.html', $event)"></md-icon>
            </h3>
        </div>
        <div layout="column" ng-if="canEdit">
            <md-list flex>
                <md-list-item ng-repeat="item in character.habits">
                    <div class="card" layout="column" flex>
                        <div layout="row" flex>
                            <h3 flex="50">{{ item.name }}</h3>
                            <h4 flex="50" style="text-align: right">{{ item.type.name }}</h4>
                            <md-icon md-font-icon="fa-times" class="fa" ng-click="deleteHabit($index)" style="padding-left: 10px"></md-icon>
                        </div>
                        <div layout="row" flex>
                            <collapse collapsible-title="Description">
                                <span style="white-space: pre-line">{{item.description}}</span>
                            </collapse>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
            <md-button class="md-fab md-mini md-primary" aria-label="add" ng-click="newHabit()" ng-disabled="!canEdit">
                <md-icon md-font-icon="fa-plus" class="fa md-primary"></md-icon>
            </md-button>
        </div>
        <div layout="row">
            <md-chips ng-model="character.habits" readonly="false"
                      md-transform-chip="transformChip($chip)" md-on-remove="removeChips($chip)" flex>
                <md-chip-template>
                        <span>
                          <strong>{{$chip.description}}</strong>
                          <em>({{$chip.type}})</em>
                        </span>
                </md-chip-template>
            </md-chips>
        </div>
    </div>
</div>
