.valueBar md-progress-linear {
    padding-top: 10px;
    margin-bottom: 20px;
    height: 13px;
}
.valueBar md-progress-linear .md-container {
    height: 13px;
}

.valueBar md-progress-linear .md-container .md-bar {
    height: 13px;  }

.valueBar md-progress-linear .md-container .md-dashed {
    height: 13px;  }


.valueBar md-progress-linear .md-container .md-dashed:before {
    height: 13px;  }

.valueBar .no-margin-top {
    margin-top: 0;
}

.valueBar .inline {
    display:inline;
}