<div class="login-ctrl md-inline-form" layout-padding="" ng-cloak="">
    <md-content class="md-padding" layout-xs="row" layout="column" layout-align="center center">
        <h1 style="text-align: center; font-family: Korinna">
            <img src="assets/gurps-logo.png" style="height: auto; width: 50%">
            <br/>
            SIMULATOR
        </h1>
        <br/>
        <form name="LoginForm" ng-submit="login(user)" style="width: 70%">
            <div layout-gt-sm="row" layout-align="center end">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Username</label>
                    <input type="text" name="username" ng-model="user.username" required/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row" layout-align="center end">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password" required/>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center end" style="margin-top: -5px;">
                <md-button type="submit" class="md-raised md-primary">Sign In</md-button>
                <md-button class="md-raised" ng-click="showRegister($event)">Sign Up</md-button>
            </div>
        </form>
    </md-content>
</div>