<md-dialog aria-label="DexInfo" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Appearance</h1>
            <p>
                Appearance is mostly a “special effect” – you may choose any physical appearance you like.
                Appearance is rated in levels.
                Most people have “Average” appearance, for 0 points.
                Good looks give a reaction bonus; this is an advantage and costs points.
                Unappealing looks give a reaction penalty; this is a disadvantage, and gives you back points.
            </p>
            <p>
                <b>Hideous:</b> You have any sort of disgusting looks you can come up with: a severe skin disease, wall-eye . . . preferably several things at once.
                This gives -4 on reaction rolls. -16 points.
            </p>
            <p>
                <b>Ugly:</b> As above, but not so bad – maybe
                only stringy hair and snaggle teeth. This
                gives -2 on reaction rolls. -8 points.
                Unattractive: You look vaguely unappealing,
                but it’s nothing anyone can put a finger
                on. This gives -1 on reaction rolls. -4 points.
            </p>
            <p>
                <b>Unattractive:</b> You look vaguely unappealing,
                but it’s nothing anyone can put a finger
                on. This gives -1 on reaction rolls. -4 points.
                Average: The default level. Most people
                have Average appearance. 0 points.
            </p>
            <p>
                <b>Average:</b> The default level. Most people
                have Average appearance. 0 points.
                Attractive: You don’t enter beauty contests,
                but are definitely good-looking. This
                gives +1 on reaction rolls. 4 points.
            </p>
            <p>
                <b>Handsome (or Beautiful):</b> You could
                enter beauty contests. This gives +4 on reaction
                rolls made by those attracted to members
                of your sex, +2 from everyone else. 12
                points.
            </p>
            <p>
                <b>Very Handsome (or Very Beautiful):</b> You
                could win beauty contests – regularly. This
                gives +6 on reaction rolls made by those
                attracted to members of your sex, +2 from
                others. 16 points
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

