<md-dialog aria-label="MoveInfo" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Basic Speed</h1>
            <p>
                Basic Move is your ground speed in yards per second.
                This is how fast you can run (although you can go a little faster if you “sprint” in a straight line; see p. 23).
                Basic Move starts out equal to Basic Speed, less any fractions; e.g., Basic Speed 5.75 gives Basic Move 5.
                An average person has Basic Move 5; therefore, he can run about 5 yards per second if unencumbered.
            </p>
        </div>
    </div>
    <div layout="row" layout-align="center end">
        <md-button class="md-primary" ng-click="cancel()">Close</md-button>
    </div>
</md-dialog>

