<md-dialog aria-label="SpeedInfo" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Basic Speed</h1>
            <p>
                Basic Speed is a measure of your reflexes and general physical quickness.
                It helps determine your running speed, your chance of dodging an attack, and the order in which you act in combat (a high Basic Speed will let you “out-react” your foes).
                To calculate Basic Speed, add your HT and DX together, and then divide the total by 4.
                Do not round it off. A 5.25 is better than a 5!
            </p>
        </div>
    </div>
    <div layout="row" layout-align="center end">
        <md-button class="md-primary" ng-click="cancel()">Close</md-button>
    </div>
</md-dialog>

