<md-dialog aria-label="DexInfo" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Status</h1>
            <h3>±5 points/level</h3>
            <p>
                Status is a measure of social standing. In
                most game worlds, Status levels range from
                -2 (serf or street person) to 8 (powerful
                emperor or god-king), with the average
                man being Status 0 (freeman or ordinary
                citizen). If you do not specifically buy
                Status, you have Status 0. Status costs 5
                points per level. For instance, Status 5 costs
                25 points, while Status -2 is -10 points.
            </p>
            <p>
                Status greater than 0 means you are a
                member of the ruling class in your culture.
                As a result, others in your culture only defer
                to you, giving you a bonus on all reaction
                rolls. Status less than 0 means you are a serf
                or a slave, or simply very poor.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

