<md-dialog aria-label="DexInfo" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Appearance</h1>
            <p>
                Above-average Wealth is an advantage;
                it means you start with two or more times the average starting wealth of your game world.
                Below-average Wealth is a disadvantage;
                it means you start with only a fraction of average starting wealth.
            </p>

            <p>
                <b>Dead Broke:</b> You have no job, no source of income, no money, and no property other than the clothes you are wearing.
                Either you are unable to work or there are no jobs to be found.
                <b>-25 points.</b>
            </b>

            <p>
                <b>Poor:</b> Your starting wealth is only 1/5 of the average for your society. Some jobs are not available to you, and no job you find pays very well.
                <b>-15 points.</b>
            </p>

            <p>
                <b>Struggling:</b> Your starting wealth is only 1/2 of the average for your society.
                Any job is open to you (you can be a Struggling doctor or movie actor), but you don’t earn much.
                <b>-10 points.</b>
            </p>

            <p>
                <b>Average:</b> The default wealth level, as explained above.
                <b>0 points.</b>
            </p>

            <p>
                <b>Comfortable:</b> You work for a living, but your lifestyle is better than most. Your starting wealth is twice the average.
                <b>10 points.</b>
            </p>

            <p>
                <b>Wealthy:</b> Your starting wealth is five times average; you live very well indeed.
                <b>20 points.</b>
            </p>

            <p>
                <b>Very Wealthy:</b> Your starting wealth is 20 times the average.
                <b>30 points.</b>
            </p>

            <p>
                <b>Filthy Rich:</b> Your starting wealth is 100
                times average. You can buy almost anything
                you want without considering the cost.
                <b>50 points.</b>
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

