<div layout="row" flex>
    <h3 class="text-korinna">
        {{placeholder}}
        <md-icon md-font-icon="fa-info-circle" class="fa md-primary"
                 ng-click="showInfo(info, $event)"></md-icon>
    </h3>
    <div style="margin-top: -6px">
        <md-select ng-init="oldValue=item" ng-click="oldValue=item" ng-disabled="!edit"
                   ng-change="changeFunction(oldValue, item)" ng-model="item">
            <md-option ng-repeat="state in states" ng-value="state" ng-selected="$index === indexFunction()"
                       ng-if="capital - state.cost >= 0" >
                {{state.name}} ({{-state.cost}})
            </md-option>
        </md-select>
    </div>
</div>