.number-picker{
    display: inline-block;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
}

.number-picker--btn{
    display: inline-block;
    outline:0;
    cursor: pointer;
    background: #eeeeee;
    border: none;
    padding: 0 5px 0 5px;
}

.number-picker--value{
    display: inline-block;
    min-width: 50px;
    text-align: center;
    padding:  0 2px 0 2px;
}

md-input-container > number-picker {
    flex: 1;
    order: 2;
    margin: 0;
}