<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Bad sight</h1>
            <h3 class="text-korinna">10 / 25 points</h3>
            <p>
                You have poor vision, giving -6 to Vision
                rolls and -2 to hit in combat. This disadvantage
                costs -10 points at TLs where it is correctable
                (with glasses or contact lenses),
                -25 points when it is not.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

