<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Curious</h1>
            <h3 class="text-korinna">5 points</h3>
            <p>
                You are naturally very inquisitive. This is
                not the curiosity that affects all PCs (“What’s
                in that cave? Where did the flying saucer
                come from?”), but the real thing (“What
                happens if I push this button?”).
            </p>
            <p>
                Make a self-control roll when presented
                with an interesting item or situation. If you
                fail, you examine it even if you know it could
                be dangerous. Good roleplayers won’t try to
                make this roll very often ...
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

