<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Greed</h1>
            <h3 class="text-korinna">15 points</h3>
            <p>
                You lust for wealth. Make a self-control
                roll any time riches are offered – as payment
                for fair work, gains from adventure,
                spoils of crime, or just bait. If you fail, you
                do whatever it takes to get the payoff.
                Small sums do not tempt you much if you
                are rich, but if you are poor, you get -5 or
                more on your self-control roll if a rich prize
                is in the offing.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

