<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Honesty</h1>
            <h3 class="text-korinna">10 points</h3>
            <p>
                You must obey the law, and do your best
                to get others to do so as well. In an area
                with little or no law, you do not “go wild” –
                you act as though the laws of your own
                home were in force. You also assume that
                others are honest unless you know
                otherwise.
            </p>
            <p>
                This is a disadvantage, because it often
                limits your options! Make a self-control roll
                when faced with the “need” to break unreasonable
                laws; if you fail, you must obey the
                law, whatever the consequences. If you
                manage to resist your urges and break the
                law, make a second self-control roll afterward.
                If you fail, you must turn yourself in
                to the authorities!
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

