<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Code of Honor</h1>
            <h3 class="text-korinna">-5 to -15 points</h3>
            <p>
                You take pride in a set of principles that
                you follow at all times. The specifics can
                vary, but they always involve “honorable”
                behavior. You will do nearly anything – perhaps
                even risk death – to avoid the label “dishonorable”
                (whatever that means to you).
                The point value of a particular Code of
                Honor depends on how much trouble it is
                liable to get you into and how
                arbitrary and irrational its
                requirements are. An informal
                Code that applies only
                among your peers is worth -5
                points. A formal Code that
                applies only among peers, or an
                informal one that applies all
                the time, is worth -10 points. A
                formal Code that applies all the
                time, or that requires suicide if
                broken, is worth -15 points. The GM has the
                final say! A couple of examples:
            </p>
            <p>
                <b>Code of Honor (Pirate’s):</b> Always avenge
                an insult, regardless of the danger; your
                buddy’s foe is your own; never attack a fellow
                crewman or buddy except in a fair, open
                duel. Anything else goes. This is also suitable
                for brigands, bikers, etc. -5 points.
            </p>
            </p>
                <b>Code of Honor (Gentleman’s):</b> Never
                break your word. Never ignore an insult to
                yourself, a lady, or your flag; insults may
                only be wiped out by an apology or a duel
                (not necessarily to the death!). Never take
                advantage of an opponent in any way;
                weapons and circumstances must be equal
                (except in open war). This only applies
                between gentlemen. A discourtesy from
                anyone of Status 0 or less calls for a
                whipping, not a duel! -10 points.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

