<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Jealousy</h1>
            <h3 class="text-korinna">10 points</h3>
            <p>
                You react poorly toward those who seem
                smarter, more attractive, or better off than
                you! You resist any plan proposed by a
                “rival,” and hate it if someone else is in the
                limelight. If an NPC is jealous, the GM will
                apply a -2 to -4 reaction penalty toward the
                victim(s) of his jealousy.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

