<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Overconfidence</h1>
            <h3 class="text-korinna">5 points</h3>
            <p>
                You believe that you are far more powerful,
                intelligent, or competent than you
                really are. You may be proud and boastful
                or just quietly determined, but you must
                roleplay this trait.
            </p>
            <p>
                You must make a self-control roll any
                time the GM feels you show an unreasonable
                degree of caution. If you fail, you must
                go ahead as though you were able to handle
                the situation! Caution is not an option.
            </p>
            <p>
                You receive +2 on all reaction rolls from
                young or naive individuals (who believe you
                are as good as you say you are), but -2 on
                reactions from experienced NPCs.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

