<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Pacifism</h1>
            <h3 class="text-korinna">5 to 15 points</h3>
            <p>
                A “phobia” is a fear of a specific item,
                creature, or circumstance. The more common
                an object or situation, the greater the
                point value of a fear of it. If you have a phobia,
                you may temporarily master it by making
                a successful self-control roll . . . but the
                fear persists. Even if you master a phobia,
                you will be at -2 to all IQ, DX, and skill rolls
                while the cause of your fear is present, and
                you must roll again every 10 minutes to see
                if the fear overcomes you. If you fail the
                self-control roll, you will cringe, flee, panic,
                or otherwise react in a manner that precludes
                sensible action.
                Even the mere threat of the feared object
                requires a self-control roll at +4. If your
                enemies actually inflict the feared object on
                you, you must make an unmodified selfcontrol
                roll.
                Some common phobias:
            </p>
            <ul>
                <li>Blood (Hemophobia): -10 points.</li>
                <li>Darkness (Scotophobia): -15 points.</li>
                <li>Heights (Acrophobia): -10 points.</li>
                <li>Number 13 (Triskaidekaphobia): Roll at -5 if Friday the 13th is involved! -5 points.</li>
                <li>Spiders (Arachnophobia): -5 points.</li>
            </ul>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

