<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Unluckiness</h1>
            <h3 class="text-korinna">10 points</h3>
            <p>
                You have rotten luck. Things go wrong
                for you – and usually at the worst possible
                time. Once per play session, the GM will
                arbitrarily and maliciously make something
                go wrong for you. You miss a vital die
                roll, or the enemy (against all odds) shows
                up at the worst possible time. If the plot of
                the adventure calls for something bad to
                happen to someone, it’s you. The GM may
                not kill you outright with “bad luck,” but
                anything less than that is fine.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

