<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Catfall</h1>
            <h3 class="text-korinna">10 points</h3>
            <p>
                You subtract five yards from a fall automatically
                (treat this as an automatic
                Acrobatics success – don’t check again for
                it). In addition, a successful DX roll halves
                damage from any fall (see p. 32). To enjoy
                these benefits, your limbs must be unbound
                and your body free to twist as you fall.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

