<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Combat Reflexes</h1>
            <h3 class="text-korinna">15 points</h3>
            <p>
                You have extraordinary reactions, and
                are rarely surprised for more than a
                moment. You get +1 to all active defense
                rolls (see Defending, p. 28) and +2 to Fright
                Checks (see Fright Checks, p. 24). You never
                “freeze” in a surprise situation, and get +6
                on all IQ rolls to wake up, or to recover
                from surprise or mental “stun.”
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

