<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Flexibility</h1>
            <h3 class="text-korinna">5 or 15 points</h3>
            <p>
                Your body is unusually flexible. This
                advantage comes in two levels:
            </p>
            <p>
                <b>Flexibility:</b> You get +3 on Climbing rolls;
                on Escape rolls to get free of ropes, handcuffs,
                and similar restraints. You
                may ignore up to -3 in penalties for working
                in close quarters (including many Explosives and
                Mechanic rolls). 5 points.
            <p>
                <b>Double-Jointed:</b> As above, but more so. You cannot
                stretch or squeeze yourself abnormally,
                but any part of your body
                may bend any way. You get +5 on
                Climbing, Escape rolls, and on
                attempts to break free. You may ignore up to
                -5 in penalties for close quarters. 15 points.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

