<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Jumper</h1>
            <h3 class="text-korinna">100 points</h3>
            <p>
                You can travel through time or to parallel
                worlds (sometimes known as “timelines”)
                merely by willing the “jump.” Decide
                whether you are a time-jumper or a worldjumper.
                To do both, you must buy Jumper
                (Time) and Jumper (World) separately, at
                full cost.
            </p>
            <p>
                To initiate a jump, you must visualize
                your destination, concentrate for 10 seconds,
                and make an IQ roll. You may hurry
                the jump, but your roll will be at -1 per second
                of concentration omitted. Regardless of
                IQ, a roll of 14 or more always fails. On a
                success, you appear at your target destination.
                On a failure, you go nowhere. On a
                critical failure, you arrive at the wrong destination,
                which can be any time or world
                the GM wishes!
            </p>
            <p>
                You appear at your destination at exactly
                the same place you left your previous
                time or world – or as close as possible.
                If there is no corresponding “safe” location
                within 100 yards of your destination,
                the jump will fail and you will know why it
                failed.
            </p>
            <p>
                This ability always costs at least 1
                Fatigue Point (see p. 31) to use, whether it
                succeeds or fails. Particularly “distant”
                times or worlds might cost more, perhaps
                up to 10 FP, at the GM’s discretion.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

