<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Luck</h1>
            <h3 class="text-korinna">Variable</h3>
            <p>
                You were born lucky! There are three
                progressively more “cinematic” levels of
                Luck:
            </p>
            <p>
                <b>Luck:</b> Once per hour of play, you may
                reroll a single bad die roll twice and take the
                best of the three rolls! You must declare that
                you are using your Luck immediately after
                you roll the dice. 15 points.
            </p>
            <p>
                <b>Extraordinary Luck:</b> As above, but usable
                every 30 minutes. 30 points.
            </p>
            <p>
                <b>Ridiculous Luck:</b> As above, but usable
                every 10 minutes! 60 points.
            </p>
            <p>
                Your Luck only applies to your own success,
                damage, or reaction rolls, or on outside
                events that affect you or your whole
                party, or when you are being attacked (in
                which case you may make the attacker roll
                three times and take the worst roll!).
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

