<md-dialog aria-label="Info" style="width: 50%; height: auto" class="md-padding">
    <div layout="row">
        <div layout="column">
            <h1 class="text-korinna">Resistant</h1>
            <h3 class="text-korinna">Variable</h3>
            <p>
                You have a natural aptitude for a set of
                closely related skills. “Talents” come in levels,
                and give a bonus of +1 per level with all
                affected skills, even for default use. This
                effectively raises your attribute scores for
                the purpose of those skills only; thus, this is
                an inexpensive way to be adept at small
                class of skills.
            </p>
            <p>
                You may never have more than four
                levels of a particular Talent. However,
                overlapping Talents can give skill bonuses
                (only) in excess of +4.
            </p>
            <p>
                The cost of a Talent depends on the size
                of the group of skills affected. Some
                examples:

            </p>
            <p>
                <b>Artificer</b> covers Armoury, Electronics
                Repair, Engineer, Mechanic, and others. 10
                points/level.
            </p>
            <p>
                <b>Outdoorsman</b> covers Camoflage,
                Naturalist, Navigation, Survival, and
                Tracking. 10 points/level.
            </p>
            <p>
                <b>Smooth Operator</b> covers all Influence
                skills, as well as Acting, Carousing,
                Leadership, and Public Speaking. 15
                points/level.
            </p>
            <p>
                There are many other possibilities! GMs
                are encouraged to create their own Talents
                as needed.
            </p>
            <md-button class="md-primary" ng-click="cancel()">Close</md-button>
        </div>
    </div>
</md-dialog>

